*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#services i{
    color: rgb(241, 160, 62);
    font-size: 1.3rem;
    margin: 20px,0px;
}
.about{
    background-image:url();
}
.heading{
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    font-family:'open Sans',sans-serif;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.heading h3{
    position:absolute;
    font-size: 2.5rem;
    font-weight: 900;
}
.heading h2{
    font-size: 5rem;
    font-weight: 900;
    color: #f1f1f1;
}
.row{
     align-items: center;
}
.row .cpclor{
    color: rgb(241, 160, 62);
}
.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: black !important;
}